= form_for [@project.namespace.becomes(Namespace), @project, @protected_branch] do |f|
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Protect a branch
    .panel-body
      .form-horizontal
        = form_errors(@protected_branch)
        .form-group
          = f.label :name, class: 'col-md-2 text-right' do
            Branch:
          .col-md-10
            = render partial: "dropdown", locals: { f: f }
            .help-block
              = link_to 'Wildcards', help_page_path('user/project/protected_branches', anchor: 'wildcard-protected-branches')
              such as
              %code *-stable
              or
              %code production/*
              are supported
        .form-group
          %label.col-md-2.text-right{ for: 'merge_access_levels_attributes' }
            Allowed to merge:
          .col-md-10
            .js-allowed-to-merge-container
              = dropdown_tag('Select',
                             options: { toggle_class: 'js-allowed-to-merge wide js-multiselect', dropdown_class: 'dropdown-menu-user dropdown-menu-selectable', filter: true,
                             data: { input_id: 'merge_access_levels_attributes', default_label: 'Select' } })
        .form-group
          %label.col-md-2.text-right{ for: 'push_access_levels_attributes' }
            Allowed to push:
          .col-md-10
            .js-allowed-to-push-container
              = dropdown_tag('Select',
                             options: { toggle_class: 'js-allowed-to-push wide js-multiselect', dropdown_class: 'dropdown-menu-user dropdown-menu-selectable', filter: true,
                             data: { input_id: 'push_access_levels_attributes', default_label: 'Select' } })

    .panel-footer
      = f.submit 'Protect', class: 'btn-create btn', disabled: true
